<a href="https://colab.research.google.com/github/barbarahook/python_course_materials/blob/year22-23/%D0%9A%D1%80%D1%8E%D1%87%D0%BA%D0%BE%D0%B2%D0%B0%2C_HW1_(1_14)ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

0. Наибольший общий делитель - 1 балл

In [ ]:
from math import gcd
>>> gcd(10,2)

2

In [ ]:
from math import gcd
>>> gcd (10,25)

5

1. Задачка про перевод из camel_case'a в snake_case - 1.5 балла

In [1]:
def change_case(str):
    return ''.join(['_'+i.lower() if i.isupper()
               else i for i in str]).lstrip('_')   
str = "camelCaseVar"
print(change_case(str))

camel_case_var

2. Про Поросёнка Петра - 2 балла

3. Sort the keys of the dictionary from a to z. - 0.5 балла

In [3]:
 import collections
 d = {"tiramisu":5, "chocolate":2, "pudding":3, "cheesecake":4}
 od = collections.OrderedDict(sorted(d.items()))
 od

OrderedDict([('cheesecake', 4),
             ('chocolate', 2),
             ('pudding', 3),
             ('tiramisu', 5)])

4. Compare three values, return true only if 2 or more values are equal - 0.5 балла

In [27]:
def checkequality (a, b, c):
if a == b and b == c and c == a
   return True 
   return False
checkequality (4,5,4)

IndentationError: ignored

5. Given a list with pairs, sort on the sum of pairs - 0.5 балла

In [18]:
list = [(3,6),(4,7),(5,9),(8,4),(3,1)]
sorted(list, key=sum)

[(3, 1), (3, 6), (4, 7), (8, 4), (5, 9)]

6. Create a function that takes a list of numbers. Return the largest number in the list. - 0.5 балла

In [24]:
def findLargestNum(num):
   return max (num)
findLargestNum([4, 5, 1, 3])

5

In [25]:
def findLargestNum(num):
   return max (num)
findLargestNum([300, 200, 600, 150])

600

In [26]:
def findLargestNum(num):
   return max (num)
findLargestNum([1000, 1001, 857, 1])

1001

7. Create a function that takes a string and returns the concatenated first and last character. - 0.5 балла

In [73]:
print ('ab' * 3)
print ('kiwi' * 1)
print ('cherry' * 2)

ababab
kiwi
cherrycherry

8. Create a function that takes a 2D list lst returns the sum of the minimum value in each row. - 0.5 балла

In [99]:
def sum_of_minimums(list):
    return sum(list(min, numbers))
sum_of_minimums  
[
  [1, 2, 3, 4, 5],       
  [5, 6, 7, 8, 9],       
  [20, 21, 34, 56, 100]  
]

[[1, 2, 3, 4, 5], [5, 6, 7, 8, 9], [20, 21, 34, 56, 100]]

9. Create a function to return the amount of potatoes there are in a string. - 0.5 балла

In [100]:
inp_str = "potato","potatopotato", "potatoapple"
str_cnt = inp_str.count("potato")
print(str_cnt)

1

11. Given a letter and a list of words, return whether the letter does not appear in any of the words. - 0.5 балла